*.sh linguist-documentation=false linguist-vendored=true
*.bat linguist-documentation=false linguist-vendored=true
*.ps1 linguist-documentation=false linguist-vendored=true

node_modules/** linguist-vendored=true